---
---

<template>
  <form oninput="onInput(event)" onsubmit="onSubmit(event)" method="post" action="http://api.postbot.pw/contents/hasharray/jsperf/benchmarks">
    <input type="hidden" name="redirect_uri" value="{{ site.url | default: site.github.url }}" />

    <section>
      <h2 id="submit">Create Benchmark</h2>
      <dl>
        <dt>
          <label>Slug</label>
        </dt>
        <dd>
          <input id="slug" name="data[slug]" required readonly/>
        </dd>
      </dl>

      <dl>
        <dt>
          <label>Content</label>
        </dt>
        <dd>
          <textarea id="content" id="content" name="data[content]" rows="5"></textarea>
        </dd>
      </dl>

      <dl>
        <dt>
          <label>Setup</label>
        </dt>
        <dd>
          <textarea id="setup" id="code" name="data[setup]" rows="5"></textarea>
        </dd>
      </dl>
    </section>

    <section>
      <h2 id="tests">Tests</h2>
      <ol>
        {% for number in (0...1) %}
          <li>
            <dl>
              <dt>
                <label>Name</label>
              </dt>
              <dd>
                <input name="data[tests][{{ number }}][name]"/>
              </dd>
            </dl>

            <dl>
              <dt>
                <label>Code</label>
              </dt>
              <dd>
                <textarea name="data[tests][{{ number }}][code]" rows="5"></textarea>
              </dd>
            </dl>
          </li>
        {% endfor %}

        <li>
          <button onclick="onInsertClick(event)" type="button">Insert</button>
        </li>
      </ol>
    </section>

    <section id="actions">
      <button type="submit">Submit</button>
    </section>

    <footer>
      {% unless site.contents.benchmarks.commit %}
      <p>
        <small>
            Benchmark reviews are currently turned <strong>on</strong>.
            It may take a few moments for new benchmarks to appear on the site
            after submission.
          </small>
        </p>
      {% endunless %}
    </footer>
  </form>

  <template id="item">
    <li>
      <button onclick="onRemoveClick(event)" type="button">Remove</button>
      <dl>
        <dt>
          <label>Name</label>
        </dt>
        <dd>
          <input name="data[tests][0][name]" required/>
        </dd>
      </dl>

      <dl>
        <dt>
          <label>Code</label>
        </dt>
        <dd>
          <textarea name="data[tests][0][code]" required rows="5"></textarea>
        </dd>
      </dl>
    </li>
  </template>

  <script type="text/javascript">
    var data = {};
    if (localStorage.getItem('form')) {
      data = JSON.parse(localStorage.getItem('form'));
    }

    Object.keys(data).forEach(function(name) {
      var element = document.querySelector('[name="' + name + '"]');
      if (element == null) {
        var template = document.querySelector('#item');
        var container = document.querySelector('#tests + ol');

        var clone = document.importNode(template.content, true);
        container.insertBefore(clone, container.lastElementChild);

        var children = Array.from(container.children);
        children.forEach(function(child, index) {
          var elements = child.querySelectorAll('[name]');

          elements.forEach(function(element) {
            element.name = element.name.replace(/\d/, index);
          });
        });

        element = document.querySelector('[name="' + name + '"]');
      }

      element.value = data[name];
    });

    function onInsertClick(event) {
      var template = document.querySelector('#item');
      var element = event.target.parentElement;
      var container = element.parentElement;

      var clone = document.importNode(template.content, true);
      container.insertBefore(clone, container.lastElementChild);

      var children = Array.from(container.children);
      children.forEach(function(child, index) {
        var elements = child.querySelectorAll('[name]');

        elements.forEach(function(element) {
          element.name = element.name.replace(/\d/, index);
        });
      });
    }

    function onRemoveClick(event) {
      var element = event.target.parentElement;
      var container = element.parentElement;

      container.removeChild(element);

      if (localStorage.getItem('form')) {
        var data = JSON.parse(localStorage.getItem('form'));
        var elements = Array.from(element.querySelectorAll('[name]'));

        elements.forEach(function(element) {
          delete data[element.name];
        });

        localStorage.setItem('form', JSON.stringify(data));
      }

      var children = Array.from(container.children);
      children.forEach(function(child, index) {
        var elements = child.querySelectorAll('[name]');

        elements.forEach(function(element) {
          element.name = element.name.replace(/\d/, index);
        });
      });
    }

    function onInput(event) {
      var element = event.target;

      var data = {};
      if (localStorage.getItem('form')) {
        data = JSON.parse(localStorage.getItem('form'));
      }

      if (/name/.test(element.name)) {
        var elements = Array.from(document.querySelectorAll('[name*=name]'));
        slug.value = elements.map(function(element) {
          return element.value;
        }).join('-vs-')
          .toLowerCase()
          .replace(/\s+/g, '-')
          .replace(/[^\w\-]+/g, '')
          .replace(/\-\-+/g, '-')
          .replace(/^-+/, '')
          .replace(/-+$/, '');

          data[slug.name] = slug.value;
      }

      data[element.name] = element.value;
      localStorage.setItem('form', JSON.stringify(data));
    }

    function onSubmit(event) {
      localStorage.removeItem('form');

      var redirect = document.querySelector('[name="redirect_uri"]');
      redirect.value = location.href + slug.value;

      var elements = Array.from(document.querySelectorAll('[name]'));
      elements.forEach(function(element) {
        element.name = element.name.replace(/\d/, '');
      });

      var tests = Array.from(document.querySelectorAll('ol li')).filter(function(element) {
        return element.querySelector('textarea');
      });

      localStorage.setItem(slug.value, JSON.stringify({
        setup: setup.value,
        content: content.value,
        tests: tests.map(function(element) {
          return {
            name: element.querySelector('input').value,
            code: element.querySelector('textarea').value,
          };
        }).filter(Boolean),
      }));
    }
  </script>

  <section>
    <h2>Recent Submissions</h2>
    <ul>
      {% for benchmark in site.benchmarks %}
        <li>
          <a href="{{ benchmark.url | prepend: site.baseurl }}">{{ benchmark.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
</template>

<script type="text/javascript">
document.querySelector('main').appendChild(
  document.importNode(document.querySelector('template').content, true)
);
</script>
