.plot {
  background-image:linear-gradient(bottom, rgba(0, 0, 0, 0.1) 2%, transparent 2%);

  ul {
    display: flex;
  }

  li {
    margin: 1em;
    padding: 1em;
    list-style: square;
  }

  li:nth-of-type(1) {
    color: #008080;
  }

  dl {
    position: relative;
    margin-left: 100px;

    dt {
      float: left;
      margin-left: -100px;
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;

      background: repeating-linear-gradient(
        to right,
        #e5e5e5,
        #e5e5e5 1px,
        #fff 1px,
        #fff 10%
      );

      border-left: 1px solid #e5e5e5;
      border-right: 1px solid#e5e5e5;
    }
  }

  dd {
    height: 30px;
    text-align: center;
    position: relative;
    margin: 0;

    span {
      position: absolute;
      width:140px;
      background: #f8f8f8;
      height: 30px;
      line-height: 30px;
      text-align: center;
      visibility: hidden;
      border-radius: 5px;
      border: 1px solid #e5e5e5;
    }

    &:hover {
      span {
        visibility: visible;
        opacity: 0.8;
        bottom: 30px;
        left: 50%;
        margin-left: -76px;
        z-index: 1;
      }
    }
  }

  dd:nth-of-type(1) {
    background-color: #008080;
  }

  li:nth-of-type(2) {
    color: #445588;
  }

  dd:nth-of-type(2) {
    background-color: #445588;
  }

  li:nth-of-type(3) {
    color: #990000;
  }

  dd:nth-of-type(3) {
    background-color: #990000;
  }

  li:nth-of-type(4) {
    color: #009926;
  }

  dd:nth-of-type(4) {
    background-color: #009926;
  }

  li:nth-of-type(5) {
    color: #000080;
  }

  dd:nth-of-type(5) {
    background-color: #000080;
  }

  li:nth-of-type(6) {
    color: #008080;
  }

  dd:nth-of-type(6) {
    background-color: #008080;
  }
}
